* {
  font-family: "Poppins", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: aliceblue;

  box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.2),
    0 6px 20px 0 rgba(59, 59, 59, 0.09);
}

.navbar-toggler-icon {
  font-size: 30px;
  padding-top: 10px;
}
.container img {
  width: 150px;
}

/* Custom Styles */
.navbar-nav .nav-item .nav-link {
  color: #000000 !important;
  font-size: 18px;
  transition: all ease-in 0.3s;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #005eff !important; /* Example hover color */
}
.total {
  color: chocolate;
  padding: 10px;
}
.images-bg {
  background-image: url("./images/hero-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.contan-hero {
  padding-left: 15rem;
  padding-top: 9rem;
  width: 50%;
}
.title-Collection {
  font-size: 58px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .contan-hero {
    width: 100%;
    padding-left: 10rem;
    padding-top: 10rem;
  }
  .title-Collection {
    font-size: 48px;
  }
}

@media screen and (max-width: 600px) {
  .contan-hero {
    width: 100%;
    padding-left: 5rem;
    padding-top: 5rem;
  }
  .title-Collection {
    font-size: 38px;
  }
  .p-3,
  .px-4 {
    padding: 0.5rem;
  }
  .mt-4 {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .contan-hero {
    width: 100%;
    padding-left: 2rem;
    padding-top: 6rem;
  }
  .title-Collection {
    font-size: 28px;
  }
  .btn {
    padding: 0.1rem;
  }
  .mt-4 {
    margin-top: 0.5rem;
  }
}

/*collection style  */
.collection {
  /* overflow-y:auto; */
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.collection-cart {
  width: 400px;
  height: 350px;
}
.images-collection {
  background-image: url("/images/collection-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 350px;
  position: relative;
}
.images-collection-2 {
  background-image: url("/images/collection-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 350px;
  position: relative;
}
.images-collection-3 {
  background-image: url("/images/collection-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 350px;
  position: relative;
}
.title-collection-shports {
  position: absolute;
  top: 10px;
  left: 100px;
  font-size: 24px;
}
.btn-outline-dark {
  position: absolute;
  bottom: 0;
  left: 70px;
}
@media screen and (max-width: 1400px) {
  .collection {
    overflow-y: auto;
    gap: 10px;
  }
}

@media screen and (max-width: 992px) {
  .collection {
    overflow-y: auto;
    gap: 10px;
    margin-top: 2px;
  }
}

/* beatsellers-products */
.titel-beatsellers-products {
  font-size: 50px;
  font-weight: bold;
  gap: 2rem;
}
.image-contain {
  position: relative;
}
.New {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: tomato;
  color: white;
  padding: 5px;
}
.product-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  /* background-color: white; */
  color: black;
  padding: 5px;
  list-style-type: none;
  /* margin-right: 10px; */
}
.product-icons li {
  display: flex;
  flex-direction: column;
  margin: 4px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.9s ease-out;
}
.product-icons li:hover {
  background-color: tomato;
}
.card:hover li {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .titel-beatsellers-products {
    font-size: 38px;
  }
}
@media screen and (max-width: 600px) {
  .titel-beatsellers-products {
    font-size: 40px;
  }
  .product-icons li{
    font-size: 10px;
    padding: 0;
    
  }
  .blen-beatsellers-products {
    font-size: 18px;
    /* gap: 10px; */
    overflow-x: auto;
    padding: 0;
  }
}
@media screen and (max-width: 420px) {
  .titel-beatsellers-products {
    font-size: 35px;
  }
  .blen-beatsellers-products {
    font-size: 15px;
    /* gap: 10px; */
    overflow-x: auto;
    padding: 0;
  }
 
}

/* categori */
.card-image1,
.card-image2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}
.card-image1 {
  background-image: url("/images/cta-1.jpg");
}

.card-image2 {
  background-image: url("/images/cta-2.jpg");
}
.btn-shop {
  text-decoration: none;
  color: aliceblue;
  padding: 4px;
  transition: all ease-in-out 0.5;
}
.btn-shop:hover {
  border-bottom: 2px solid white;
  color: aliceblue;
}
/*  */

.trend-box{
  background-image: url('/images/special-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  /* width: 300px; */
  position: relative;
}
.title-Trend{
  position: absolute;
  top: 20px;
  left: 54px;
  /* transform: translate(-50%, -50%); */
}
.btn-explore-all{
  position: absolute;
  bottom:20px;
  left: 50px;
  /* transform: translate(-50%, -50%); */
}

/* service */
.server img {
  width: 60px;
  padding: 4px;
}


.image {
  width: 200px;
  height: 150px;
}
@media screen and (max-width: 1100px) {
  .images {
    overflow-x: auto;
  }
}
.conncet-list i{
  color: rgb(255, 255, 255);
  font-size: 18px;
} 
